.app-demo {
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}